@model DonationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for donating!</h2>
<h3>Tell us why you donating... :)</h3>

@using (Html.BeginForm("Confirm", "Donations")) {
    @Html.HiddenFor(m =>m.DonationId)
    @Html.TextAreaFor(m => m.UserMessage)
    <input type="submit" value="Confirm" />
}
