@model August2008.Models.DonationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Donate", new { provider = "PayPal" })"><img src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" /></a>

