@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-section shadow transp padding-25 question-mark">
    <fieldset>
        <legend>ხშირად დასმული კითხვები</legend>
        <ul class="faq-ul">
            <li><a href="#a1">როგორ გადავრიცხოთ თანხა?</a></li>
            <li><a href="#a2">როგორ განაწილდება დახმარება ოჯახებზე და ვინ გაუწევს ორგანიზებას?</a></li>
            <li><a href="#a3">მე მინდა რომ გადავიხადო ჩეკით, როგორ მოხდება ამ შემთხვევაში?</a></li>
            <li><a href="#a4">რამდენად დაცულია მომხმარებლის კონფედენციალურობა?</a></li>
            <li><a href="#a5">შეიძლება თუ არა მივიღო გადახდის დამადასტურებელი ქვითარი?</a></li>
            <li><a href="#a6">შეიძლება თუ არა გადარიცხვის ყოველთვიურ ავტომატურ რეჟიმში ჩასმა?</a></li>
            <li><a href="#a7">შეიძლება თუ არა დავეხმარო კონკრეტულ პიროვნებას?</a></li>
        </ul>
    </fieldset>
</div>

<div class="section text shadow transp padding-25 check-mark" style="margin-top:10px" id="a1">
    <div class="faq-title">როგორ გადავრიცხოთ თანხა?</div>
    <p>
        თანხის გადარიცხვა შეუძლია ნებისმიერ დარეგისტრირებულ, საკრედიტო ბარათის მქონე მომხმარებელს.
    </p>
</div>

<div class="section text shadow transp padding-25 check-mark" style="margin-top:10px" id="a2">
    <div class="faq-title">როგორ განაწილდება დახმარება ოჯახებზე და ვინ გაუწევს ორგანიზებას?</div>
    <p>
        თანხის მიწოდება ხდება მხოლოდ აგვისტოს სამამულო ომში დაღუპულ ოჯახებზე და ამის ერთ-ერთი წინაპირობაა საბანკო ანგარიშის აუცილებლობა. ჩვენ უკვე გავესაუბრეთ რამდენიმე ოჯახს და მოვიპოვეთ შესაბამისი ინფორმაცია. თანხის შეგროვების და გადანაწილების პროცესს We Remember August 2008 ორგანიზაციული ჯგუფი კურირებს. 
    </p>
</div>

<div class="section text shadow transp padding-25 check-mark" style="margin-top:10px" id="a3">
    <div class="faq-title">მე მინდა რომ გადავიხადო ჩეკით, როგორ მოხდება ამ შემთხვევაში?</div>
    <p style="white-space: pre-line">
        მე მინდა რომ გადავიხადო ჩეკით, როგორ მოხდება ამ შემთხვევაში. ჩეკის ან Money Order-ის გაგზავნა: ჩეკს გამოწერთ "Nino School of language, INC"-ზე და გააგზავნეთ მისამართზე: 
        
        Nino School of language, INC
        1773 East 12 ST 6C 
        Brooklyn NY 11229 
        
        გადარიცხვა - საბანკო რეკვიზიტებია: 
        Chase Bank Account: 
        105 717 870 
        Nino School of Language, INC
    </p>
</div>

<div class="section text shadow transp padding-25 check-mark" style="margin-top:10px" id="a4">
    <div class="faq-title">რამდენად დაცულია მომხმარებლის კონფედენციალურობა?</div>
    <p>
        ჯგუფის მიზანია, რომ ჩვენი საქმიანობა იყოს გამჭვირვალე და ნებისმიერ დროს, ნებისმიერ მომხმარებელს შეეძლოს ვებ გვერდზე შესვლა და საჭირო ინფორმაციის მოპოვება. თანხის გადარიცხვის ოპერაციის ჩატარებისას, თქვენს მიერ სისტემაში შეტანილი საკრედიტო ბარათის ინფორმაცია ავტომატურად გადაეცემა PayPal-ს, რაც თავისთავად გამორიცხავს კონფედენციალურობის დარღვევის შესძლებლობას. დარეგისტრირების პროცესის შემდეგ ჩვენ არ გვაქვს ელექტრონულ ფოსტაზე წვდომა, ხოლო რაც შეეხება კონკრეტულ პირებს, მათ შეუძლიათ სახელისა და გვარის ნაცვლად ,,ნიკი” გამოიყენონ. 
    </p>
</div>

<div class="section text shadow transp padding-25 check-mark" style="margin-top:10px" id="a5">
    <div class="faq-title">შეიძლება თუ არა მივიღო გადახდის დამადასტურებელი ქვითარი?</div>
    <p>
        ვებ-გვერდზე არსებული საგადასახადო სისტემით სარგებლობისას გადარიცხვის დასრულებისთანავე მიიღებთ შეტყობინებას ელექტრონულ ფოსტაზე. ჩეკით ან Money Order -ით გადარიცხვის შემთხვევაში - დასტურს თქვენს საფოსტო მისამართზე.
    </p>
</div>

<div class="section text shadow transp padding-25 check-mark" style="margin-top:10px" id="a6">
    <div class="faq-title">შეიძლება თუ არა გადარიცხვის ყოველთვიურ ავტომატურ რეჟიმში ჩასმა?</div>
    <p>
        შესაძლებელი იქნება ახლო მომავალში.
    </p>
</div>

<div class="section text shadow transp padding-25 check-mark" style="margin-top:10px" id="a7">
    <div class="faq-title">შეიძლება თუ არა დავეხმარო კონკრეტულ პიროვნებას?</div>
    <p>
        შეგიძლიათ დაეხმაროთ, მაგრამ წინასწარ მოგვწერეთ ამის შესახებ.
    </p>
</div>