
<div class="text-section transp shadow section-margin">
    <span class="section-start-text">2008 წლის რუსეთ-საქართველოს ომი</span> მსოფლიოს უახლეს ისტორიაში განიხილება, როგორც ომი საქართველოს სუვერენულ  სახელმწიფოსა და უცხოელ აგრესორს, რუსეთის ფედერაციას შორის,  რუსეთის მარიონეტების - აფხაზეთის და ცხინვალის რეგიონის სეპარატისტთა უკანონო შეიარაღებული დაჯგუფებების - მონაწილეობით.
</div>
<div class="text-section transp shadow section-margin">
    <span class="section-start-text">2005-2008 წლებში რუსეთი აძლიერებდა თავის სამხედრო ანკლავებს აფხაზეთსა და ე.წ. “სამხრეთ ოსეთში”.</span> რუსეთის დიპლომატები არ მალავდნენ, რომ სამხედრო ოპერაცია საქართველოს წინააღმდეგ განხორციელდებოდა 2008 წლის სექტემბრამდე. რუსეთმა აღადგინა სარკინიგზო მონაკვეთი ოჩამჩირემდე და გაიყვანა დამატებითი ხაზი სოხუმი-ოჩამჩირეს 54-კილომეტრიან მონაკვეთზე. 2008 წლის მაის-ივნისში ამ გზით რუსეთმა აფხაზეთის, ანუ დე იურე საქართველოს ტერიტორიაზე 50 ეშელონი სამხედრო ტვირთი შემოიტანა. იქმნებოდა შთაბეჭდილება, რომ რუსეთი შეტევას სწორედ აფხაზეთიდან აპირებდა, მაგრამ ვლადიმერ პუტინის მიერ უშუალოდ დამტკიცებული გეგმის თანახმად, იგი ცხინვალის რეგიონში განხორციელდა. 
</div>
<div class="text-section transp shadow section-margin">
    <span class="section-start-text">რუსი "სამშვიდობოების" მიერ შეიარაღებულმა ოსურ-კაზაკურმა ბანდებმა სამაჩაბლოსა და ცხინვალის რეგიონის ქართულ სოფლებს ცეცხლი 1 აგვისტოს გაუხსნეს.</span> თუ ადრე რუსეთის მარიონეტები ქართველი სამშვიდობოების მიერ საპასუხო ცეცხლის გახსნის შემდეგ სროლას წყვეტდნენ, ამჯერად ასე არ მოხდა. ბანდიტები რუსი "სამშვიდობოების" მხარდაჭერით  და უშუალო მონაწილეობით აგრძელებდნენ სროლას არა მარტო ავტომატური იარაღიდან, არამედ საარტილერიო დანადგარებიდან.
    ე.წ. "სამხრეთ ოსეთის ინფორმაციის დეპარტამენტი" უკვე 6 აგვისტოს დაუფარავად აცხადებდა, რომ “სამხრეთ ოსეთის” ტერიტორიაზე იმყოფებოდნენ რუსეთის სამხედრო შენაერთები . 
    3 აგვისტოს ცხინვალში ჩამოვიდნენ რუსეთის თავდაცვის მინისტრის მოადგილე ნიკოლაი პანკო და სადაზვერვო სამსახურის უფროსი . ისინი შეხვდნენ "პრეზიდენტ" კოკოითის. მათი წასვლის შემდეგ კოკოითი ჯავაში გადაბარგდა და დაიწყო ოსური მოსახლეობის ევაკუაცია, იმავე დღეს, 3 აგვისტოს, უკვე ღიად,  ოფიციალურად დაიწყო "მოხალისეთა", ანუ დაქირავებული ბანდების მობილიზაცია ჩრდილოეთ კავკასიაში.  ეს კი უპირობოდ ნიშნავს მხოლოდ ერთს - რუსეთმა საქართველოს სუვერენული სახელმწიფოს წინააღმდეგ აქტიური სამხედრო მოქმედებები 3 აგვისტოს დაიწყო. 
</div>
<div class="text-section transp shadow section-margin">
    <span class="section-start-text">ამ დროისთვის საქართველოს საზღვრებთან კონცენტრირებული იყო არა მარტო 58-ე არმია , არამედ სხვადასხვა სამხედრო შენაერთები (9 000 კაცი, 700 ერთეული ჯავშანტექნიკა).</span>
    6 აგვისტოს რუსმა "მესაზღვრეებმა" დაიკავეს როკის გვირაბი საქართველოს მხრიდან.  3-დან 7 აგვისტოს ჩათვლით რუსეთის საინფორმაციო საშუალებები გადმოსცემდნენ ინფორმაციას ომის დაწყების შესახებ. ამ დროისათვის რუსეთიდან საქართველოს ტერიტორიაზე  გადმოვიდა მტრის 150 ტანკი და ცოცხალი ძალა. სატანკო კოლონის გამოჩენის შემდეგ ნათელი გახდა, რომ ომი საქართველოს წინააღმდეგ, რომელზეც წლების მანძილზე ლაპარაკობდნენ რუსი პოლიტიკოსები, დაიწყო. 
</div>
<div class="text-section transp shadow section-margin">
    <span class="section-start-text">ცხინვალის რეგიონში რუსეთიდან დაფინანსებულ-მართული ბანდიტების და მათი მხარდამჭერი რუსი "სამშვიდობოების" მიერ ქართული სოფლების დაცხრილვა-დაბომბვაზე ქართული მხარის ადექვატური პასუხი მხოლოდ საბაბი იყო ოკუპანტისთვის.</span> სამხედრო აგრესიის და ომის გაჩაღების  მთავარი მიზეზიც და მიზანიც თავდაპირველად აღიარა რუსეთის დე იურე პრეზიდენტმა მედვედევმა, რომელმაც 2011 წლის 21 ნოემბერს, ვლადიკავკაზში სამხედროებთან გამართულ შეხვედრაზე განაცხადა: 
    "საქართველოსთან ომი რომ არ ყოფილიყო, რუსეთის უარყოფითი პოზიციის მიუხედავად, NATO-ში რამდენიმე ქვეყანას ერთად მიიღებდნენ". 
    მედვედევის აღიარება დაადასტურა დე ფაქტო პრეზიდენტმა პუტინმა ომის მეოთხე წლისთავზე, 2012 წლის 8 აგვისტოს, მოსკოვში სომხეთის პრეზიდენტ სერჟ სარქისიანთან შეხვედრის შემდეგ გამართულ ბრიფინგზე. მან ერთმნიშვნელოვნად განაცხადა, რომ რუსეთის შეიარაღებული ძალების გენერალურმა შტაბმა საქართველოს წინააღმდეგ ომის გეგმა ჯერ კიდევ 2006 წელს შეიმუშავა.
    „გენერალური შტაბის მიერ გეგმა მომზადდა და სადღაც 2006 წლის ბოლოს თუ 2007 წლის დასაწყისში დავამტკიცე“.
</div>

@section LeftSection {
}
@section RightSection {
}
