<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity.mvc" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="PayPal:PrimaryEmail" value="admin@august2008.org"/>
  </appSettings>
  <!-- connection strings -->
  <connectionStrings>
    <add name="August2008Db" connectionString="Data Source=localhost;Initial Catalog=August2008Db_Prod;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="August2008Cloud" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <unity.mvc>
    <typeAliases>
      <!-- interfaces -->
      <typeAlias alias="IHeroRepository" type="August2008.Common.Interfaces.IHeroRepository, August2008.Common" />
      <typeAlias alias="IAccountRepository" type="August2008.Common.Interfaces.IAccountRepository, August2008.Common" />
      <typeAlias alias="IMetadataRepository" type="August2008.Common.Interfaces.IMetadataRepository, August2008.Common" />
      <typeAlias alias="ICacheProvider" type="August2008.Common.Interfaces.ICacheProvider, August2008.Common" />
      <typeAlias alias="IDonationRepository" type="August2008.Common.Interfaces.IDonationRepository, August2008.Common" />
      <typeAlias alias="IGeocodeService" type="August2008.Common.Interfaces.IGeocodeService, August2008.Common" />
      <typeAlias alias="IPayPalService" type="August2008.Common.Interfaces.IPayPalService, August2008.Common" />
      <typeAlias alias="IDonationService" type="August2008.Common.Interfaces.IDonationService, August2008.Common" />
      <typeAlias alias="IEmailService" type="August2008.Common.Interfaces.IEmailService, August2008.Common" />
      <!-- concrete classes -->
      <typeAlias alias="HeroRepository" type="August2008.Data.HeroRepository, August2008.Data" />
      <typeAlias alias="AccountRepository" type="August2008.Data.AccountRepository, August2008.Data" />
      <typeAlias alias="MetadataRepository" type="August2008.Data.MetadataRepository, August2008.Data" />
      <typeAlias alias="DonationRepository" type="August2008.Data.DonationRepository, August2008.Data" />
      <typeAlias alias="DefaultCacheProvider" type="August2008.Common.DefaultCacheProvider, August2008.Common" />
      <typeAlias alias="GoogleGeocodeService" type="August2008.Tests.Fakes.FakeGoogleGeocodeService, August2008.Tests" />
      <typeAlias alias="PayPalService" type="August2008.Tests.Fakes.FakePayPalService, August2008.Tests" />
      <typeAlias alias="DonationService" type="August2008.Services.DonationService, August2008.Services" />
      <typeAlias alias="EmailService" type="August2008.Services.EmailService, August2008.Services" />
    </typeAliases>
    <containers>
      <!-- actual mappings -->
      <container>
        <types>
          <type type="IHeroRepository" mapTo="HeroRepository" />
          <type type="IAccountRepository" mapTo="AccountRepository" />
          <type type="IMetadataRepository" mapTo="MetadataRepository" />
          <type type="IDonationRepository" mapTo="DonationRepository" />
          <type type="ICacheProvider" mapTo="DefaultCacheProvider" />
          <type type="IGeocodeService" mapTo="GoogleGeocodeService" />
          <type type="IPayPalService" mapTo="PayPalService" />
          <type type="IDonationService" mapTo="DonationService" />
          <type type="IEmailService" mapTo="EmailService" />
        </types>
      </container>
    </containers>
  </unity.mvc>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>