html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    border: 0; 
    width: 100%;
    background: #999;
    min-width: 768px;
    font-size: 90%;
    height: 100%;
    color: #000;
    font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
    line-height: 20px;
    overflow-x: hidden;
}
h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}
p {
    margin: .4em 0 .8em 0;
    padding: 0;
}
#ads img {
    display: block;
    padding-top: 10px;
}
#header {
    clear: both;
    float: left;
    width: 100%;
    border-bottom: 1px solid #000;
    background-image: url(../images/black-texture-bg.jpg);
    background-repeat: repeat-x;
    height: 150px;
    position: relative;
}
#header p,
#header h1,
#header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}
#header ul {
    display: inline-block;
    clear: left;
    float: left;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}
#header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
#header ul li a {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    text-align: center;
    background: #eee;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 15px;
    line-height: 50px;
    width: 85px;
    text-shadow: 0 1px 1px #fff;
    font-size: 1.05em;
}
#header ul li a:hover, 
#header ul li a.selected {
    background: #42434A;
    color: #fff;
    text-shadow: 0 1px 1px #000;    
}
#header ul li a.selected {
    box-shadow: 0 -3px 0 0 rgba(0,0,0,0.5);
}
#header ul li a:hover {
    box-shadow: 0 -7px 0 0 rgba(0,0,0,0.5);
}
#header ul li a.active,
#header ul li a.active:hover {
    color: #fff;
    background: #222;
    font-weight: bold;
    text-shadow: 0 1px 1px #555;
}
#header ul li a span {
    display: block;
}
#header .menu-container {
    bottom: 0;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
}
#layoutdims {
    clear: both;
    background: #eee;
    border-top: 1px solid #222222;
    margin: 0;
    padding: 0;
    height: 36px;
    text-align: right;
    width: 100%;
    position: relative;
}
.colmask {
    position: relative; 
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}
.colmid,
.colleft {
	float:left;
	width:100%;	
	position:relative;
    height: 100%;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	
	overflow:hidden;
    padding: 8px 0;
}
.threecol {
    background-image: url(../images/american-flag-bg.png);
    background-position: right top;
    background-repeat: repeat-y;        
}
.threecol .colmid {
    right: 15%;
    background: #fff;
    -moz-box-shadow: 0 0 0 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 6px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 6px rgba(0,0,0,0.5);
    background-image: url(../images/white-texture-bg.jpg);
    background-position: right top;
    background-repeat: repeat;  
    border-right: solid 1px #000;  
}
.threecol .colleft {
    right: 60%;
    background-image: url(../images/georgian-flag-bg.png);
    background-position: right top;
    background-repeat: repeat-y;
    margin: 0px auto;
    text-align: center;
    border-right: solid 1px #000;
}
.threecol .col1 {
    left: 101%;
    width: 58%;
}
.threecol .col2 {
    left: 18%;
    width: 23%;
}
.threecol .col3 {
    left: 80%;
    width: 13%;

}
#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
    height: 40px;
    background: #eee;
}
#footer p {
    padding: 10px;
    margin: 0;
}
a {
    text-decoration: none;
}
a:link {
    color: #26427F;
}
a:visited {
    color:  #26427F;
}
a:hover {
    color:  #26427F;
}
a:active {
    color:  #26427F;
}
.logo-first {
    position: absolute;
    right:0; 
    top:0;
    z-index:9999; 
}
.logo-tea-mikaia {
    position: absolute;
    right:45px; 
    top:2px;
    width: 125px;
    height: 110px;
}
#logoutForm {
    display: inline;
}
#adminButtonsContainer {
    position: absolute;
    right: 0;
    padding: 5px 5px 0 0;
}
#pageButtonsContainer {
    position: absolute;
    left: 24.7%;
    padding: 5px 0 0 15px;
}
.top-nav {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}
.alphabet-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
.alphabet-container ul li {
    display: inline-block;
    margin: 0;
    float: left;
}
.alphabet-container {
    float: left;
}
.hero-toolbar-container {
    float: right;
}
.text-section {
    font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1em;
    padding: 15px 25px;
    color: #222333;  
    clear: both;
    background-color: #FCFCFC;
    border: 0px solid #333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;    
    -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
            border-radius: 2px;
}
.text {
    font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1em;
    color: #222333;  
    line-height: 25px;
}
.section-margin {
    margin-bottom: 10px;
}
.section {
    background-color: #FCFCFC;
    border: 0px solid #333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 5px;
    overflow: hidden;
    -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
            border-radius: 2px;
}
.section-start-text {
    font-weight: bold;
    font-size: 1.1em;
    font-style: oblique;
}
.section-p {
    text-indent: 45px;
}
.ui-dialog {
    -moz-box-shadow: 0 0 0 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 0 8px rgba(0,0,0,0.3);
    box-shadow: 0 0 0 8px rgba(0,0,0,0.3);
    filter: alpha(opacity=92);
    -moz-opacity: 0.92;
    -khtml-opacity: 0.92;
    opacity: 0.92;
    background-color: #FFFFFF;
}
.pagination {
    text-align: center;
    margin: 0;
    line-height: 0
}
.pagination ul > li > a,
.pagination ul > li > span {
  padding: 2px 7px;
}
.split-two {
    float: left;
    width: 50%;
}
.transp {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.transp-95 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=96);
  -moz-opacity: 0.96;
  -khtml-opacity: 0.96;
  opacity: 0.95;
}
.shadow {
    -moz-box-shadow: 0px 0px 2px 0px #888;
    -webkit-box-shadow: 0px 0px 2px 0px #888;
    box-shadow: 0px 0px 2px 0px #888;
}
/* form controls */
.required {
    color: red;
    font-weight: bold;
}
.btn-facebook,
.btn-facebook:hover, 
.btn-facebook:focus,
.btn-google,
.btn-google:hover, 
.btn-google:focus,
.btn-yahoo,
.btn-yahoo:hover, 
.btn-yahoo:focus {  
    background-repeat: no-repeat;
    text-align: left;
    background-position: 3px;
    height: 110px;
    width: 220px;
}
.btn-facebook,
.btn-facebook:hover, 
.btn-facebook:focus,
.btn-facebook:active {
    background-image: url(../images/facebook-btn-logo.png);
    background-position: 3px;
}
.btn-google,
.btn-google:hover, 
.btn-google:focus,
.btn-google:active {
    background-image: url(../images/google-btn-logo.png);
    background-position: 3px;
}
.btn-yahoo,
.btn-yahoo:hover, 
.btn-yahoo:focus,
.btn-yahoo:active {
    background-image: url(../images/yahoo-btn-logo.png);
    background-position: 3px;
}
.btn-facebook .span-1,
.btn-google .span-1,
.btn-yahoo .span-1 {    
    display: block; 
    padding: 0 10px 0 100px;
    font-size: 12px;
    margin: 0;
}
.btn-facebook .span-2,
.btn-google .span-2,
.btn-yahoo .span-2 {    
    display: block; 
    padding: 0 10px 0 100px;
    font-size: 20px;
    line-height: 55px;
    margin: 0;
}
.btn-paypal,
.btn-paypal:hover, 
.btn-paypal:focus {  
    background-repeat: no-repeat;
    text-align: left;
    background-position: 3px;    
    height: 85px;
    width: 169px;
}
.btn-paypal,
.btn-paypal:hover, 
.btn-paypal:focus,
.btn-paypal:active {
    background-image: url(../images/paypal-btn.png);
    background-position: 3px;
    background-size: 159px 75px;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
}
/* hero edit view */
#photo-edits {
    width: 450px;
    height: 300px;
    margin: 0;
}
#upload-images {
    position: relative;
    width: 100%;
    height: 320px;
    overflow-y: auto;
    overflow-x: no-display;
    clear: both;
}
#edit-commands {
    position: relative;
    width: 100%;
    height: 30px;
}
#fakefile {
	z-index: 1;
}
input.file {
	position: absolute;
    left: -5000px;
	-moz-opacity:0 ;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}
#upload-images {
    overflow-x: hidden;
}
#upload-images div {
    float: left;
}
#edit-commands {
    vertical-align: middle;
    border-top: solid 1px #E5E5E5;
    padding-top: 5px;
}
#edit-commands div {
    float: left;
    padding-right: 5px;
}
#upload-images .new-thumb-img, #upload-images .existing-thumb-img {
    margin: 3px;
    padding: 5px 0 2px;
    width: 135px;
    height: 140px;
    border: solid 1px #E5E5E5;
    text-align: center;
    vertical-align: top;
    position: relative;
}
img {
    margin: 0;
}
#upload-images .thumb-img-cmd {
    position: absolute;
    margin: 2px 4px;
    bottom: 0;
}
#upload-images .thumb-img-cmd a {
    font-size: 12px;
}
.hero-bio {
    width: 100%;
    height: 155px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hero-box {
    position: relative;
    padding: 15px 25px;
    color: #333444;  
    clear: both;
}
.hero-box .hero-header {  
    width: 100%;
    border-bottom: solid 1px #E5E5E5;
    font-family: 'Trebuchet MS';
    font-size: 1.2em;
    vertical-align: top;
    height: 25px;
}
.hero-header .hero-name {
    font-weight: normal;
    float: left;
}
.hero-header .hero-rank {
    font-weight: normal;
    float: right;
}
.hero-box .hero-body {
    clear: both;
}
.hero-box .hero-thumb { /*block formatting context - https://developer.mozilla.org/en-US/docs/Web/CSS/Block_formatting_context*/
    padding-top: 5px;
    float: left;
}
.hero-box .hero-about { /*block formatting context*/
    overflow: hidden;
}
p.hero-about-text,
.hero-about-text-full {
    font-size: 1.1em;
    text-align: justify;
    text-justify: inter-word;    
}
.hero-body .hero-about-text-full {
    white-space: pre-line;  
}
.hero-box .hero-thumb-img {
    left: 0;
    margin: 0;    
}
.hero-body .hero-about-info,
.hero-body .hero-about-info-full {
    margin-right: 10px;
    padding-left: 10px;
    float: left;
}
.hero-body .hero-about-info {
    max-width: 150px;
}
.hero-body .hero-about-bio,
.hero-body .hero-about-bio-full {
    line-height: 24px;
    position: relative; 
}
.hero-body .hero-about-bio {
    min-height: 220px;
    max-height: 220px;
    border-left: dashed 1px #E5E5E5;
    overflow: hidden;
    padding-left: 10px;   
}
.hero-body .hero-about-bio-full {
    clear: both;
    margin-top: 10px;
}
.hero-about-bio .hero-bio-more {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #E5E5E5;
    padding: 0 10px 0 10px;
}
.hero-about-label {
    display: block;
    width: 100px;
    padding: 0 0 1px 1px;
    background-color: #E5E5E5;
    vertical-align: middle;
}
.hero-box .hero-box-cmd {
    clear: both;
}
.old-hero-photo {
    border: 0;
}
.old-hero-photo {
    border: 0;
}
.hero-edit-thumb {
    border: 4px solid #336699;
}
.hero-box {
    margin: 10px 0 0 0;
}
#manageUsersPartial {
    width: 100%;
    float: left;
}
#manageUsersPartial div {
    float: left;
}
#userSearchFormContainer {
    width: 280px;
}
#manageUsersTabsContainer {
    width: 560px;
}
#manageUsersTabs {
    width: 100%;
    min-height: 625px;
}
#userSearchFormContainer #userId {
    height: 593px;
    width: 272px;
}
.soldier-1 {
    background-image: url(../images/soldier-1.png);
    background-position: top right;
    background-repeat: no-repeat;
}
.openid-logo {
    background-image: url(../images/openid-logo.png);
    background-position: top right;
    background-repeat: no-repeat;
}
.soldier-helmut {
    background-image: url(../images/soldier-helmut-sky.png);
    background-position: top right;
    background-repeat: no-repeat;
}
.contact-envelope {
    background-image: url(../images/contact-envelope.png);
    background-position: 95% 35%;
    background-repeat: no-repeat;
}
.donations-jar {
    background-image: url(../images/donations-jar.png);
    background-position: top right;
    background-repeat: no-repeat;
}
.donations-thankyou {
    background-image: url(../images/donations-thankyou.png);
    background-position: top right;
    background-repeat: no-repeat;
}
.thankyou-sticky {
    background-image: url(../images/thankyou-sticky.png);
    background-position: 95% 15%;
    background-repeat: no-repeat;
}
.question-mark {
    background-image: url(../images/question-mark.png);
    background-position: 95% 80%;
    background-repeat: no-repeat;
}
.check-mark {
    background-image: url(../images/check-mark.png);
    background-position: 93% 35%;
    background-repeat: no-repeat;
}
.padding-25 {
    padding: 25px;
}
.padding-50 {
    padding: 50px;
}
.padding-5 {
    padding: 5px;
}
.contact-message {
    width: 210px;
}
.criteria-field-horizontal {
    float: left;
    margin: 0 5px 0 0;
}
#donationsList {
    clear: both;
}
.faq-ul {
    margin: 5px 0 0 20px;
    list-style: decimal
}
.faq-ul li a {
    line-height:25px;
}
.faq-ul li a:hover {
    background-color: #E5E5E5
}
.faq-title {
    font-weight: bold;
    border-bottom: dashed 1px #E5E5E5;
    padding-bottom: 2px;
}
#greetingsContainer {
    float: left;
    font-size: 12px;
    vertical-align: middle;  
    padding: 8px 0 0 7px;  
}
/* donation forms */
.donation-form {
    width: 100%;
}
.donation-form a:hover {
    background-color: #e5e5e5;
}
.donation-form .form-header {
    width: 100%;
    border-top: dashed 1px #e5e5e5;   
    border-bottom: dashed 1px #e5e5e5;   
    padding: 10px 0 10px 0;  
}
.donation-form .form-header .header-info {
    float: left;
}
.donation-form .form-header .header-faq {
    overflow: hidden;
    text-align: right;
}
.donation-form .form-content {
    width: 100%;
    clear: both; 
}
.donation-form .form-content .content-options {
    float: left; 
    border-right: dashed 1px #e5e5e5;     
    padding-bottom: 10px; 
    width: 62%;
}
.donation-form .form-content .content-options #choiceFrequency {
    display: none;
}
.donation-form .form-content .content-options .options-form {
    width: 100%;
    clear: both;
    padding-top: 15px;
    width: 360px;
}
.donation-form .form-content .content-options .options-form label {
    line-height: 25px;
    margin-left: 3px;
}
.donation-form .form-content .content-options .options-form select {
    width: 100px;
    color: #000000;
}
.donation-form .form-content .content-options .options-form .form-label  {
    width: 125px;
    float: left;
}
.donation-form .form-content .content-options .options-form .form-choices  {
    float: left;
}
.donation-form .form-content .content-links {
    overflow: hidden;
    padding-top: 20px;
}
.donation-form .form-content .content-links .links-container {
    float: right;
    vertical-align: top;
    line-height: 25px;
}
.donation-form .form-footer {
    clear: both;
    width: 100%;
    padding-top: 10px; 
    border-top: dashed 1px #e5e5e5;  
}
.donation-form .form-footer .footer-button {
    float: left;
    vertical-align: bottom;
    padding: 5px 25px 0 0;
}
.donation-form .form-footer .footer-text {
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word; 
    padding-bottom: 8px;   
    border-bottom: dashed 1px #e5e5e5;   
}
.donation-form .form-footer .footer-text .paypal {
    font-size: 11px; 
    line-height: 13px;
}