html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0; 
    width: 100%;
    background: #fff;
    min-width: 768px;
    font-size: 90%;
    height: 100%;
}

a:hover {
    color: #fff;
    background: #369;
    text-decoration: none;
}

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

p {
    margin: .4em 0 .8em 0;
    padding: 0;
}

img {
    margin: 10px 0 5px;
}

#ads img {
    display: block;
    padding-top: 10px;
}

#header {
    clear: both;
    float: left;
    width: 100%;
    border-bottom: 1px solid #000;
    background-image: url(../images/black-texture-bg.jpg);
    background-repeat: repeat-x;
    height: 13%;
    position: relative;
}


#header p,
#header h1,
#header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}

#header ul {
    display: inline-block;
    clear: left;
    float: left;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header ul li a {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    text-align: center;
    background: #eee;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 15px;
    line-height: 40px;
    width: 75px;
    text-shadow: 0 1px 1px #fff;
}

#header ul li a:hover {
    background: #323577;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

#header ul li a.active,
#header ul li a.active:hover {
    color: #fff;
    background: #222;
    font-weight: bold;
    text-shadow: 0 1px 1px #555;
}

#header ul li a span {
    display: block;
}

#header .menu-container {
    bottom: 0;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
}

#layoutdims {
    clear: both;
    background: #eee;
    border-top: 1px solid #222222;
    margin: 0;
    padding: 0;
    height: 25px;
    text-align: right;
}

.logo {
    position: absolute;
    right:0; 
    top:0;
    z-index:9999; 
}

.colmask {
    position: relative; 
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
    height: 87%;
}

.colmid,
.colleft {
	float:left;
	width:100%;	
	position:relative;
    height: 100%;
}

.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	
	overflow:hidden;
    padding: 20px 0;
}

.threecol {
    background-image: url(../images/american-flag-bg.jpg);
    background-position: right top;
    background-repeat: repeat-y;
}

.threecol .colmid {
    right: 15%;
    background: #fff;
    -moz-box-shadow: 0 0 3px 4px #111111;
    -webkit-box-shadow: 0 0 3px 4px #111111;
    box-shadow: 0 0 3px 4px #111111;
    background-image: url(../images/white-texture-bg.jpg);
    background-position: right top;
    background-repeat: repeat;
}

.threecol .colleft {
    right: 60%;
    background-image: url(../images/georgian-flag-bg.jpg);
    background-position: right top;
    background-repeat: repeat-y;
    margin: 0px auto;
    text-align: center;
}

.threecol .col1 {
    left: 101%;
    width: 58%;
}

.threecol .col2 {
    left: 18%;
    width: 23%;
}

.threecol .col3 {
    left: 80%;
    width: 13%;

}
#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
    height: 5%;
}

#footer p {
    padding: 10px;
    margin: 0;
}

.section {
    background-color: #fff;
    border: 0px solid #333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 5px;
    overflow: hidden;
}

.split-two {
    float: left;
    width: 50%;
}

.transp {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.shadow {
    margin: 0 3px;
    -moz-box-shadow: 20px 20px 10px 20px #222;
    -webkit-box-shadow: 0 0 3px #222;
    box-shadow: 0px 0px 2px 0px #111111;
}
/* form controls */
.editor-label {
    text-align: left;
}
.editor-field {
    text-align: left;
    margin-left: 0;
}
.editor-field * {
    width: 170px;
    margin-left: 0;
}
.editor-field select {
    width: 175px;
}
.editor-field select option{
    width: 395px;
}
.label-required {
    
}
.required {
    color: red;
    font-weight: bold;
}
/* hero edit view */
#photo-edits {
    width: 450px;
    height: 300px;
    margin: 0;
}
#upload-images {
    position: relative;
    width: 100%;
    height: 320px;
    overflow-y: auto;
    overflow-x: no-display;
    clear: both;
}
#edit-commands {
    position: relative;
    width: 100%;
    height: 30px;
}
#fakefile {
	z-index: 1;
}
input.file {
	position: absolute;
    left: -5000px;
	-moz-opacity:0 ;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}
#upload-images {
    overflow-x: hidden;
}
#upload-images div {
    float: left;
}
#edit-commands {
    vertical-align: middle;
    border-top: solid 1px #999;
    padding-top: 5px;
}
#edit-commands div {
    float: left;
    padding-right: 5px;
}
.thumb-img-box {
    margin: 5px;
    width: 128px;
    height: 135px;
    border: solid 1px #999;
    text-align: center;
    vertical-align: top;
    padding: 0;
}
.hero-bio {
    width: 100%;
    height: 155px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
fieldset {
    display: inline-block;    
}
table { 
  border-spacing:0;
  border-collapse:collapse; 
}
