@model August2008.Models.UserSearchModel

<div id="manageUsersPartial">
    <div id="userSearchFormContainer">
        <div>
            @using (Ajax.BeginForm("SearchUsers", "Account", null, new AjaxOptions {
                                                                            HttpMethod = "POST",
                                                                            InsertionMode = InsertionMode.Replace,
                                                                            UpdateTargetId = "userList",
                                                                            OnBegin = "Spinner.show()",
                                                                            OnComplete = "Spinner.hide()"                                                                       
                                                                        },
                                                                        new { @id = "searchForm", name = "searchForm" }))
            {      
                              
                @Html.TextBox("name", "", new { @class = "span3" })
                <button type="submit" class="btn">Go</button>
            }            
            @using (Ajax.BeginForm("UserRoles", "Account", null, new AjaxOptions {
                                                                        HttpMethod = "POST",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        UpdateTargetId = "userRoles",
                                                                        OnBegin = "Spinner.show()",
                                                                        OnComplete = "Spinner.hide()"     
                                                                    },
                                                                    new { @id = "userListForm", name = "userListForm" }))
            { 
                <div id="userList">     
                    @Html.Partial("UserListPartial", Model.Users)
                </div>
            }
        </div>
    </div>
    <div id="manageUsersTabsContainer">
        <div id="manageUsersTabs">
            <ul>
                <li><a href="#userRolesTab"><span>Roles</span></a></li>
                <li><a href="#userRrofileTab"><span>Profile</span></a></li>
                <li><a href="#userOpenIDTab"><span>OpenID</span></a></li>
                <li><a href="#userDonationsTab"><span>Donations</span></a></li>
            </ul>
            <div id="userRolesTab">
                @using (Ajax.BeginForm("AssignRoles", "Account", null, new AjaxOptions {
                                                                            HttpMethod = "POST",
                                                                            InsertionMode = InsertionMode.Replace,
                                                                            UpdateTargetId = "userRoles",
                                                                            OnBegin = "Spinner.show()",
                                                                            OnComplete = "Spinner.hide()"     
                                                                        },
                                                                        new { @id = "userRolesForm", name = "userRolesForm" }))
                { 
                    <div id="userRoles">   
                        Select user to view roles...
                    </div>
                    <div class="bottom-right">
                        <button type="submit" class="btn btn-inverse">Save</button>
                        <button type="reset" class="btn">Reset</button>
                    </div>
                }
            </div>
            <div id="userRrofileTab">
            </div>
            <div id="userOpenIDTab">
            </div>
            <div id="userDonationsTab">
            </div>
        </div>
    </div>
</div>
<script>
    $("#manageUsersTabs").tabs();
    $("#name").watermark("Search users...");
</script>
