@model August2008.Models.UserModel

<div>
    <fieldset>
        <legend>User Management</legend>
        <div>
            <div>
                @using (Ajax.BeginForm("SearchUsers", "Account", null, new AjaxOptions {
                                                                            HttpMethod = "POST",
                                                                            InsertionMode = InsertionMode.Replace,
                                                                            UpdateTargetId = "user-list"
                                                                        },
                                                                        new { @id = "search-form" }))
                {                    
                    @Html.TextBox("name")
                    <input type="submit" value="Go" />
                }
                <div id="user-list">
                    @Html.Partial("UserListPartial", Model.Users);
                </div>
            </div>
            <div>
                <div id="tabs">
                  <ul>
                    <li><a href="#user-roles"><span>Roles</span></a></li>
                    <li><a href="#user-profile"><span>Profile</span></a></li>
                    <li><a href="#user-openid"><span>OpenID</span></a></li>
                    <li><a href="#user-donations"><span>Donations</span></a></li>
                  </ul>
                  <div id="#roles">
                    @using (Html.BeginForm("AssignRole", "Account")) {
                    
                    }
                      @Html.CheckBoxListFor(m => m.Roles,
                                            m => m.Roles,
                                            m => m.Name,
                                            m => m.RoleId,
                                            m => m.Name)
                  </div>
                  <div id="#profile">
                  </div>
                  <div id="#openid">
                  </div>
                  <div id="#donations">
                  </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>